/* VARIABLES */
/* container size */
$main_c: 1200px;
$hero_c: 700px;
$smaller_c: 1000px;
/* colours */
$main-color: #f6f6f6;
$secondary-color: #e0154a;
$alt-color: #111111;

:root {
  --sponsor-color: #111111;
}
